.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 96px;

    .nav__menu {
        display: block;
        position: absolute;
        left: -1000px;
    }

    .scoot__nav {
        display: flex;
        gap: 58.18px;

        img {
            text-align: center;
            margin-top: -5px;
        }

        .nav__list {
            display: flex;
            gap: 32px;

            li a {
                font-family: 'Space Mono';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 25px;
                color: #939CAA;

                &:hover {
                    font-family: 'Space Mono';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 25px;
                    color: #FCB72B;
                }
            }
        }
    }

    .nav__btn {
        button {
            height: 53px;
            width: 180px;
            background: #FCB72B;
            border: #FCB72B;

            &:hover {
                background-color: #FFFFFF;
                border: 3px solid #FCB72B;

                & a {
                    font-family: 'Space Mono';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 25px;
                    text-align: center;
                    color: #FCB72B;
                }
            }
        }

        & a {
            font-family: 'Space Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            color: #FFFFFF;

        }

    }
}

.scooter__img {
    background-image: url(../img/skutr.jpg);
    height: 650px;
    width: 1440px;

    .scooter__text {
        position: relative;
        width: 500px;
        height: 112px;
        left: 165px;
        top: 153px;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;
        color: #FFFFFF;
    }

    .line__scooter {
        position: absolute;
        margin-top: 232px;
        background-color: #FCB72B;
        width: 203px;
        height: 1px;
        border: 15px solid #FCB72B;
    }

    .scooter__p {
        position: relative;
        width: 405px;
        height: 100px;
        left: 260px;
        top: 189px;

        font-family: 'Lexend Deca';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
    }

    button {
        position: relative;
        margin-top: 233px;
        left: 260px;
        height: 53px;
        width: 180px;
        background: #FCB72B;
        border: #FCB72B;

        &:hover {
            background-color: #72757b;
            border: 3px solid #FCB72B;

            & a {
                font-family: 'Space Mono';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 25px;
                text-align: center;
                color: #FCB72B;
            }
        }
    }

    & a {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;

    }

    .scooter__circle {
        display: flex;
        position: relative;
        left: 1252px;
        top: -70px;
        gap: 24px;

        .circle {
            width: 62px;
            height: 62px;
            border-radius: 50%;
            border: 3px solid #FFFFFF;

        }

        .circle2 {
            width: 62px;
            height: 62px;
            background-color: #FFFFFF;
            border-radius: 50%;
            border: 3px solid #FFFFFF;

        }
    }

    .line2 {
        position: relative;
        left: 750px;
        top: -212px;

    }
}

.hr {
    position: relative;
    width: 974px;
    height: 1px;
    left: 0px;
    top: 208px;
    background-color: #E5ECF4;
    border: 10px solid #E5ECF4;

}

.app {
    position: relative;
    display: flex;
    justify-content: center;
    top: 145px;
    gap: 30px;

    .app__img {
        .app__text {
            position: relative;
            width: 350px;
            height: 28px;
            top: 40px;
            font-family: 'Space Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -1.07143px;
            color: #495567;
        }

        .app__p {
            position: relative;
            width: 350px;
            height: 100px;
            top: 95px;
            font-family: 'Lexend Deca';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;
        }
    }

}

.easy {
    display: flex;
    position: relative;
    top: 461px;

    &__texts {
        position: relative;
        left: 145px;
        height: 313px;
        width: 445px;

        .easy__span {
            width: 445px;
            height: 96px;
            left: 165px;
            top: 1463px;
            font-family: 'Space Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            letter-spacing: -2.14286px;
            color: #495567;
        }

        .easy__p {
            position: relative;
            width: 445px;
            height: 100px;
            top: 24px;
            font-family: 'Lexend Deca';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;

        }

        button {
            position: relative;
            top: 65px;
            height: 53px;
            width: 180px;
            background: #FCB72B;
            border: #FCB72B;

            &:hover {
                background-color: #FFFFFF;
                border: 3px solid #FCB72B;

                & a {
                    font-family: 'Space Mono';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 25px;
                    text-align: center;
                    color: #FCB72B;
                }
            }
        }

        & a {
            font-family: 'Space Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            color: #FFFFFF;

        }
    }

    .img__circle {
        position: relative;
        display: flex;
        gap: 64px;
        left: 370px;

        .easy__img {
            img {
                border-radius: 50%;
            }
        }

        .easy__circle {
            position: relative;
            width: 445px;
            height: 445px;
            border-radius: 50%;
            background: #E5ECF4;
            overflow: hidden;
        }

        .all__line {
            position: relative;
            top: 275px;

            .easy__line {
                position: relative;
                right: 1190px;
                top: 10px;
            }

            .easy__line2 {
                position: relative;
                right: 1180px;
                top: -144px;
            }
        }
    }
}

.city {
    display: flex;
    position: relative;
    margin-top: 600px;
    gap: 165px;

    .city__line {
        position: absolute;
        left: -20px;
    }

    .circle__img-city {
        display: flex;
        gap: 60px;

        .city__circle {
            position: relative;
            margin-left: -310px;
            width: 445px;
            height: 445px;
            border-radius: 50%;
            background: #E5ECF4;
        }

        .city__img {
            img {
                border-radius: 50%;
            }
        }
    }
}

.zero {
    display: flex;
    position: relative;
    top: 160px;

    &__texts {
        position: relative;
        left: 145px;
        height: 313px;
        width: 445px;

        .easy__span {
            width: 445px;
            height: 96px;
            left: 165px;
            top: 1463px;
            font-family: 'Space Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            letter-spacing: -2.14286px;
            color: #495567;
        }

        .easy__p {
            position: relative;
            width: 445px;
            height: 100px;
            top: 24px;
            font-family: 'Lexend Deca';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;

        }

        button {
            position: relative;
            top: 65px;
            height: 53px;
            width: 180px;
            background: #FCB72B;
            border: #FCB72B;

            &:hover {
                background-color: #FFFFFF;
                border: 3px solid #FCB72B;

                & a {
                    font-family: 'Space Mono';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 25px;
                    text-align: center;
                    color: #FCB72B;
                }
            }
        }

        & a {
            font-family: 'Space Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            color: #FFFFFF;

        }
    }

    .img__circle {
        position: relative;
        display: flex;
        gap: 64px;
        left: 370px;

        .easy__img {
            img {
                border-radius: 50%;
            }
        }

        .easy__circle {
            position: relative;
            width: 445px;
            height: 445px;
            border-radius: 50%;
            background: #E5ECF4;
            overflow: hidden;
        }

        .zero__line {
            position: relative;
            right: 750px;
            top: 40px;
        }
    }
}

.download {
    display: flex;
    position: relative;
    margin-top: 310px;
    width: 1440px;
    height: 300px;
    background: #495567;

    .dowload__span {
        position: relative;
        width: 415px;
        height: 96px;
        left: 165px;
        top: 102px;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
        color: #FFFFFF;
    }

    .app__google {
        display: flex;
        gap: 18px;

        .appstor_down {
            display: flex;
            align-items: center;
            position: relative;
            width: 159px;
            height: 56px;
            left: 516px;
            top: 154px;
            gap: 12px;
            background: #E5ECF4;
            border-radius: 4px;

            p {
                font-family: 'Space Mono';
                font-style: normal;
                font-weight: 700;
                font-size: 10px;
                line-height: 15px;
                letter-spacing: -0.446429px;
                color: #495567;
            }

            span {
                font-family: 'Space Mono';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: -0.892857px;
                color: #495567;
            }
        }

        .googleplay_down {
            display: flex;
            align-items: center;
            position: relative;
            width: 159px;
            height: 56px;
            left: 516px;
            top: 154px;
            gap: 12px;
            background: #E5ECF4;
            border-radius: 4px;

            p {
                font-family: 'Space Mono';
                font-style: normal;
                font-weight: 700;
                font-size: 10px;
                line-height: 15px;
                letter-spacing: -0.446429px;
                color: #495567;
            }

            span {
                font-family: 'Space Mono';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: -0.892857px;
                color: #495567;
            }
        }
    }

    .download__circle {
        display: flex;
        position: absolute;
        gap: 56px;
        left: 450px;
        top: 150px;

        .down__circle {
            position: relative;
            width: 347px;
            height: 347px;
            mix-blend-mode: normal;
            opacity: 0.1;
            border: 15px solid #E5ECF4;
            border-radius: 50%;
        }

        .down__circles {
            position: relative;
            width: 347px;
            height: 347px;
            mix-blend-mode: normal;
            opacity: 0.1;
            border: 15px solid #E5ECF4;
            background-color: #898989;
            border-radius: 50%;
        }
    }
}

.foter__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    height: 96px;
    background: #333A44;

    .footer_scoot {
        position: relative;
        left: -70px;
        display: flex;
        gap: 59px;

        img {
            width: 107.82px;
            height: 28.56px;
        }

        .footer__list {
            display: flex;
            gap: 32px;

            li a {
                font-family: 'Space Mono';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 25px;
                color: #939CAA;

                &:hover {
                    font-family: 'Space Mono';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 25px;
                    color: #FCB72B;
                }
            }
        }

    }

    .footer__icons {
        display: flex;
        position: relative;
        left: 55px;
        gap: 24px;

        img {
            width: 24px;
            height: 24px;

            &:hover {
                background-color: #E5ECF4;
            }
        }
    }
}