@media only screen and (max-width: 768px) {
    .container {
        width: 768px;
        margin: 0 auto;
    }

    .scooter__img {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 650px;
        width: 768px;
        left: 0px;
        top: 0px;
        background-image: url(../img/tablet/scooter~1.jpg);

        .scooter__text {
            position: relative;
            top: 125px;
            left: 150px;
        }

        .scooter__p {
            position: relative;
            top: 149px;
            left: 185px;
        }

        .line__scooter {
            display: none;
        }

        button {
            position: relative;
            margin-top: 205px;
            left: 0;
        }

        .scooter__circle {
            position: relative;
            top: 90px;
            left: 565px;
        }

        .line2 {
            position: relative;
            left: -158px;
            top: -50px;
        }
    }

    .hr {
        position: absolute;
        left: 130px;
        top: 746px;
        background-image: url(../img/tablet/Path\ 2.svg);
        width: 1px;
        height: 590px;
    }

    .app {
        display: block;

        .app__img {
            display: flex;
            position: relative;
            margin-bottom: 90px;
            gap: 79px;
            height: 130px;
            width: 573px;
            left: 97px;

            .app-texts {
                display: flex;
                width: 398px;
                height: 130px;

                .app__text {
                    position: relative;
                    top: 0px;
                }

                .app__p {
                    position: absolute;
                    top: 44px;
                }

            }
        }
    }

    .easy {
        display: block;

        .easy__texts {
            position: absolute;
            text-align: center;
            left: 175px;
            top: 257px;

            button {
                position: relative;
                left: 10px;
            }

        }

        .img__circle {
            position: relative;
            left: 175px;
            top: -198px;

            .easy__circle {
                position: absolute;
                left: 500px;
            }

            .all__line {
                position: relative;
                left: 581px;
            }
        }

    }

    .city {
        display: block;
        position: relative;
        text-align: center;
        margin-top: 700px;

        .easy__texts {
            position: relative;
            left: 195px;
        }
    }

    .zero {
        display: block;
        text-align: center;
        position: relative;
        margin-top: 90px;

        .easy__texts {
            position: relative;
            top: 300px;
            left: 195px;

        }

        .img__circle {
            position: relative;
            top: -500px;
            margin-left: -166px;
        }
    }

    .download {
        display: block;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 600px;
        height: 300px;
        width: 768px;

        .app__google {
            position: relative;
            top: -55px;
            right: 295px;
        }

        .download__circle {
            position: absolute;
            margin-left: -650px;
            top: 140px;
        }

        .dowload__span {
            position: relative;
            top: 62px;
            width: 457px;
            height: 96px;
            left: 155px;
            font-family: 'Space Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            text-align: center;
            letter-spacing: -2.14286px;
            color: #FFFFFF;
        }

    }

    .foter__container {
        position: relative;
        margin-top: 0px;

        .footer_scoot {
            position: relative;
            left: 10px;
        }

        .footer__icons {
            position: relative;
            left: -10px;

            img:hover {
                background-color: #FFFFFF;
            }
        }
    }
}
